:root {
    --success: #ff0000;
    --danger: #ff3366;

    /* Dynamic State Color */
    --chart-color: var(--success);
}

/* --- State Swapping --- */
.trend-up {
    --chart-color: var(--success);
}

.trend-down {
    --chart-color: var(--danger);
}

.analytics-card {
    position: relative;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    background: var(--card-bg);
    border: 1px solid var(--border)
}